# ==================================================
# EUP Project Information System — Environment
# Salin file ini ke .env.local untuk development
# ==================================================

# Database
DATABASE_URL="postgresql://eupadmin:password@localhost:5432/eup_pis"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="dev-secret-ganti-di-production-minimal-32karakter"

# Admin seed password (digunakan oleh prisma/seed.ts)
SEED_ADMIN_PASSWORD="Admin@EUP2026"

# Upload (opsional, default: public/uploads)
UPLOAD_DIR="public/uploads"
